<% provide(:title, @series.name) %>
<% if logged_in? %>
  <% if current_user.admin? %>
    <h2>
      <%= link_to "Add a Episode", new_episode_path %>
    </h2>
  <% end %>
<% end %>
<h1><%= @series.name %></h1>
<%= render 'follow_form' if logged_in? %>
<ul class="center">
  <h2>Episodes</h2>
  <% @episodes.each do |episode| %>
    S<%= episode.season %>E<%= episode.number %> - <%= link_to episode.name, episode_path(episode) %>
    <br>
  <% end %>
</ul>